<h1>Stupid Coach</h1>

<div class="container">
  <p><%= @question %></p>
  <p>-You</p>
  <p><%= @coach_response %></p>
  <footer>-Your coach</footer>
  <%= link_to "Ask new question", '/ask' %>
</div>
