<div class="container">

  <form class="form-horizontal" method="get" action="/answer">
    <div>
      <label for="question" class="control-label">What's your question</label>
    </div>
    <div>
      <input type="text" name="query" class="form-control" id="question" placeholder="Question">
    </div>
    <div>
      <button type="submit" class="btn btn-default">Ask a new question</button>
    </div>
  </form>

</div>
